* {
	margin: 0px;
}

body {
	font-family: "FantasqueSansMonoRegular";
	width: 100%;
	background-color: #1e1e1e;
}

/* Header */

.header {
	box-sizing: border-box;
	background-color: #1e1e1e;
	color: white;
	padding: 24px;
	float: left;
	height: 200px;
	width: 33%;
}

	.header h1 {
		font-size: 48px;
		font-style: italic;
	}
	
	.header h4:hover {
		color: orange;
	}

	.header img {
		height: 128px;
		float: left;
		margin: 8px;
		text-align: left;
		padding: 8px;
		padding-right: 24px;
	}

/* Panel */

.panel{
	box-sizing: border-box;
	background-color: white;
	width: 67%;
	height: 200px;
	float: right;
}

.navigation {
	background-color: #1e1e1e;
	float: bottom;
	padding: 14px 16px;
	height: 32px;
}

	.navigation a {
		text-align: center;
		color: white;
		padding: 14px 16px;
		text-decoration: none;
		float: right;
	}

	.navigation a:hover {
		background-color: orange;
	}

	.navigation button {
		font-family: "FantasqueSansMonoRegular";
		text-align: center;
		background-color: transparent;
		color: white;
		padding: 14px 16px;
		text-decoration: none;
		float: right;
	}

	.navigation button:hover {
		background-color: orange;
	}

/* Lewa strona */

.leftside {
	padding: 24px;
	background-color: #1e1e1e;
	color: white;
	width: 33%;
	float: left;
	box-sizing: border-box;
}

	.leftside a {
		text-align: left;
		display: block;
		color: white;
		font-size: 18px;
		text-decoration: none;
	}

	.leftside a:hover {
		color: orange;
	}

/* Prawa strona */

.rightside {
	background-color: white;
	width: 67%;
	float: right;
	text-align: center;
	box-sizing: border-box;
}

.card {
	background-color: white;
	text-align: center;
	float: right;
	width: 100%;
	margin: 16px 0px 24px 0px; 
}

	.card img {
		width: 256px;
	}

	.card h3 {
		padding: 14px 16px;
		color: black;
		font-size: 24px;
	}

	.card button {
		text-decoration: none;
		color: white;
		background-color: green;
		padding: 14px 16px;
	}

	.card button:hover{
		background-color: white;
		color: green;
	}

/* Stopka */

.stopka {
	margin-top: 16px;
	background-color: #1e1e1e;
	color: white;
	padding: 24px;
	text-align: center;
	float: left;
	width: 97.45%;
}

/* Ikony */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 64px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-github {
    background: #24292e;
    color: white;
}
